/* * {
    border: 2px  solid red;
}  */

body {
    font-family: Arial, Helvetica, sans-serif;
}

.section-one {
    background-color: #1F2937;
   display: flex;
   flex-direction: column;
   height: 550px;
}

.section-one .s1-h {
    display: flex;
    gap: 300px;
    justify-content: center;
}

.section-one .s1-h .h-logo {
    display: flex;
   color: #F9FAF8;
   font-size: 24px;
   font-weight: bold;
}

.section-one .h-link {
    display: flex;
    gap: 50px;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    flex-wrap: nowrap;
}

/* .section-one .s1-contents {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
}
.section-one .s1-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.section-one .s1-text {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 50px;
    
}  */
/* .section-one .s1-lorem {
    display: flex;
    height: 100px;
    width: auto;
} 
.section-one .s1-button {
    display: flex;
    
}

.section-one .s1-img {
    display: flex;
    justify-content: end;

} */

.section-one .main-content {
    display: flex;
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
}
.section-one .s1-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding-right: 50px;
    align-content: flex-start;
}

.section-one .web-awe {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    /* margin-top: auto; */
    justify-content: center;
    
    
}
.section-one .s1-lorem {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    /* margin-left: 200px; */
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    
}

.section-one .div-button {
    display: flex;
}

.section-one .s1-button {
    background-color: #3882F6;
    width: 100px;
    height: auto;

}
.section-one .s1-r {
    display: flex;
    width: auto;
    justify-content: center;
    height: 400px;
    width: auto;
}

.footer {
    background-color: #1F2937;
}