 /* * {
    border: 2px  solid red;
}   */

body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: white;
}

.section-one {
    background-color: #65433C;
   display: flex;
   flex-direction: column;
   /* height: 550px; */
}

.section-one .s1-h {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.section-one .s1-h .h-logo {
    display: flex;
   color: #F9FAF8;
   font-size: 24px;
   font-weight: bold;
}

.section-one .h-link {
    display: flex;
    gap: 50px;
    color: #E5E7EB;
    font-size: 18px;
    align-items: center;
    flex-wrap: nowrap;
}

/* .section-one .s1-contents {
    display: flex;
    flex-direction: column;
    width: 1000px;
    align-items: center;
    justify-content: space-around;
}
.section-one .s1-header {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.section-one .s1-text {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    gap: 50px;
    
}  */
/* .section-one .s1-lorem {
    display: flex;
    height: 100px;
    width: auto;
} 
.section-one .s1-button {
    display: flex;
    
}

.section-one .s1-img {
    display: flex;
    justify-content: end;

} */

.section-one .main-content {
    display: flex;
    justify-content: center;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}

.section-one .s1-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    padding-right: 50px;
    align-content: flex-start;
}

.section-one .s1-left-cont {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-bottom: 25px;
}

.section-one .web-awe {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
    display: flex;
    /* margin-top: auto; */
    justify-content: center;
    
    
}
.section-one .s1-lorem {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    /* margin-left: 200px; */
    width: 700px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    
}

.section-one .div-button {
    display: flex;
}

.section-one .s1-button {
    background-color: pink;
    width: 100px;
    height: auto;
    border-radius: 3px;
    font-size: 15px;
}
.section-one .s1-r {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 50px;
    
} 

.section-one .s1-r > img {
   border-radius: 25px;
   display: flex;
   justify-content: center;
   align-items: center; 
   width: 55%;
   
}

/* end of section one */

.section-two {
    text-align: center;
}

.section-two .s2-header {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin-bottom: 15px;
    
}
.section-two .containers {
    padding-top: 20px;
    display: flex;
    justify-content: space-around;
}

.section-two .kermit-ex > img {
    border: 2px  solid grey;
    border-radius: 25px;
    width: 60%;
    box-shadow: 0 10px 30px black;
}

.section-two .kermit-ques > img {
    border: 2px  solid grey;
    border-radius: 25px;
    width: 60%;
    box-shadow: 0 10px 30px black;
}

.section-two .kerrmit > img {
    border: 2px  solid grey;
    border-radius: 25px;
    width: 60%;
    box-shadow: 0 10px 30px black;
}

.section-two .kerkermit > img {
    border: 2px  solid grey;
    border-radius: 25px;
    width: 60%;
    box-shadow: 0 10px 30px black;
}

/* end section two */

.section-three { 
    background-color: #D5BEB9;
    display: flex;
    justify-content: center;
}

.section-three .s3-cont {
    display: flex;
    flex-direction: column;
    max-width: 900px;
    padding: 20px;
}
.section-three .s3-main {
    display: flex;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    text-align: justify;
    padding: 40px;
    /* width: 600px;
    height: auto; */
    justify-content: center;
}

.section-three .s3-author {
    text-align: right;
    font-weight: bold;
    padding-bottom: 10px;
    display: flex;
    justify-content: end;
}

/* end of section three */

.section-four {
    display: flex;
    background-color: #f7cac9;
    justify-content: center;
    margin: 25px 70px 25px 70px;
    border-radius: 5px;
} 

.section-four .s4-cont {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    height: 125px;
}

.section-four .s4-text {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    width: 500px;
    padding-right: 20px;
    padding: 5px;
}

.section-four .s4-h {
    flex: 1 1 auto;
    display: flex;
    margin: -10px;
}
.section-four .sign-up {
    flex: 1 1 auto;
    display: flex;
    margin: -10px;
}
.section-four .s4-button {
    display: flex;
    align-items: center;
}

.section-four .s4-button button {
    background-color: pink;
    width: 100px;
    border-radius: 3px;
    font-size: 15px;
}

.footer {
    display: flex;
    color: #E5E7EB;
    font-size: 10px;
    background-color: #65433C;
    justify-content: center;
    align-items: center;
    height: 50px;
}